<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="socket.io/socket.io.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <title>Document</title>
    <script>
        var socket = io("http://localhost:3000/");

// hàm lắng nghe server gửi data


    </script>
</head>
<body>
    <h1>khai</h1>
    
</body>
</html>